In [0]:
s1=input("enter the string :")
s2= 'good afternoon'
print(type(s1),type(s2))

enter the string :good afternoon
<class 'str'> <class 'str'>

In [0]:
#operators: +,*(repition),[]slice,[start:stop](slice range )
print(s1 + s2)#concatenantion
print(s1 * 3)#repition
print(s1[4])#slicings
print(s1[-1])#slicing
print(s1[2:])#start=0,stop=length of the string,step=1

hellogood afternoon
hellohellohello
o
o
llo

In [0]:
print(s1[0:5])
print(s1[:])

hello
hello

In [0]:
# print alternate characters of string
print(s1[::2])

hlo

In [0]:
#accept a string from the user and check whether it is a palindrome or not
s3= input("enter a number :")
if s3== s3[::-1]:
    print("the given number is  palindrome ")
else:
        print ("the given number is not palindrome")

enter a number :101
the given number is  palindrome

In [0]:
s4= "python"

In [0]:
s="hello"
print(len(s))#function name())
s=s.capitalize()
print(s)

5
Hello

In [0]:
s1 = "hello"
s2 = "abc123"
s3 ="123"
print(s1.isalnum())
print(s1.isalpha())
print(s1.isdigit())
print(s2.isalnum())
print(s2.isalpha())
print(s2.isdigit())
print(s3.isalnum())
print(s3.isalpha())
print(s3.isdigit())

True
True
False
True
False
False
True
False
True

In [0]:
s1 = " python"
s2 = "PYTHON"
print(s1.isupper())
print(s2.islower())
print(s1.swapcase())

False
False
 PYTHON

In [0]:
s = "abc abc abc "
s.count("abc")

3

In [0]:
s.split()
print(s.split())
s1="a,b,c,d"
print(s1.split(","))

['abc', 'abc', 'abc']
['a', 'b', 'c', 'd']

In [0]:
# replace 
s = "abc"#azc
s = s.replace ('d','z')
print(s)

abc

In [0]:
#accept a number(n) from the user and remove the nth position
#  charater from the string
# n =3
# s = abcabc
# output : ababc
n = int(input( "enter position"))
s= input ("enter the string")
print(s.replace(s[n-1],"",1))

enter position3
enter the stringabcabc
ababc

In [0]:
### for loop:
1. for loop with range () function
2. for loop with iterable object

In [0]:
# print 1-n numbers on the screen
n=10
for i in range(1,n+1):
print(i,end = " ")
print()
i = 1
while 1<=n:
    print(i,end= " ")
    i += 1

IndentationError: expected an indented block (<ipython-input-41-02278638e0d7>, line 4)

In [0]:
s= "python "
for i in s:
    print(i)
    i = 0
    while i <= len(s)
    print(s[i])
    i += 1

p
y
t
h
o
n

In [0]:
s = "python "
for i in s:
    print(i)
    i=0
    while  i < len(s)
    print(s[i])
    i += 1
    
    for j in range (0,len(s)):
        print(s[j])

SyntaxError: invalid syntax (<ipython-input-44-79b8fc65e840>, line 5)